:root {
  color-scheme: light;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* Remove default marker and make summary keyboard-friendly */
details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary .arrow-down {
  transform: rotate(180deg);
}

/* Visible focus for keyboard users */
:focus {
  outline: none;
}

.focus-ring:focus {
  box-shadow: 0 0 0 3px rgba(59, 246, 187, 0.558);
  border-radius: 0.375rem;
}
